#masala_chakki_photo
{
    height:500;
    width: 400px;;
}

#h-1
{
    font-size: 40px;
  color:blue
}

#h-2
{
    color: darkblue;
    size: 60px;
}

#atta_chakki_photo
{
    width: 500px;
    height: 400px;
}

#dehydration_machine_photo
{
    height:600px;
    width:500px;
}

#what_is_dehydration
{
    width: 600px;
    height: 600px;
}

#info 
{
    font-size: 30px;
}